<div class="panel panel-default">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <template ngbPanelTitle>
    <div class="panel-heading">
      <h3>Business &amp; Corporate Law</h3>
    </div>
    </template>
      <template ngbPanelContent>
      <div class="panel-body">
     We represent business clients of all sizes in both domestic and international matters from formation and structure, to contract negotiation and drafting, through compliance with state and federal laws and regulations. We have also represented business in litigation concerning matters such as enforcement through injunctive relief and damages actions to redress, or defend, commercial claims. We can help you starting, growing, and protecting your valuable business.
      </div>
    </template>
    </ngb-panel>
    <ngb-panel>
      <template ngbPanelTitle>
    <div class="panel-heading">
      <h3>Employment Law</h3>
    </div>
    </template>
      <template ngbPanelContent>
              <div class="panel-body">
      The employer-employee relationship is one of the most important relationships you will ever have during your lifetime. Jobs are hard to come-by, and can be hard to hold. Most employers will follow the law; however, there are always situations where losing your job, or suffering loss of benefits, promotion, or being demoted, come into play. Pennsylvania is an at-will employment state, and questions involving employee rights, and employer obligations, require lawyers who understand the various processes, from unemployment compensation, to workers’ compensation to discrimination and retaliation. We know the process, and know the law. If you have any questions about the laws relating to employment, we can help.
    </div>
    </template>
    </ngb-panel>
    <ngb-panel>
      <template ngbPanelTitle>
    <div class="panel-heading">
      <h3>Civil Litigation</h3>
    </div>
    </template>
      <template ngbPanelContent>
              <div class="panel-body">
     No matter the nature of the injury, our state and federal court systems offer each person their chance for justice. Whether your injuries arise from a slip and fall, automobile accident, professional negligence, or discrimination and denial of protected civil rights, we have the experience and record to get the justice you deserve. Our civil litigation practice includes representation in state and federal courts of Northeastern Pennsylvania, New Jersey, and beyond, as the case may be.  Our dedicated approach to our clients will work for you.  
</div>
</template>
</ngb-panel>
<ngb-panel>
  <template ngbPanelTitle>
    <div class="panel-heading">
      <h3>Estate Administration &amp; Tax Planning</h3>
    </div>
    </template>

  <template ngbPanelContent>
              <div class="panel-body">
    Have you made a will? Do you know how property will be handled and distributed at the time of death; or, in the event that an illness or condition prevents people from tending to their own affairs? Every individual should consider those questions, and then seek the advice of competent counsel to address each concern. Any planning must include consideration of the rules for the transfer of property and the taxation of transfers of property in accordance with your wishes. We can provide you with the analysis and alternatives tailored to satisfy your wishes, and how to do so in the most tax efficient way. In addition to Carl J. Greco’s training and experience as an attorney, his completion of the Uniform CPA Exam, and training as an accountant make  him uniquely qualified to provide advice to you on the planning and administration of your estate.
   </div>
    </template>
</ngb-panel>
<ngb-panel>
  <template ngbPanelTitle>
    <div class="panel-heading">
      <h3>State &amp; Federal Taxation</h3>
    </div>
    </template>
  <template ngbPanelContent>
              <div class="panel-body">
The numerous rules relating to state and federal taxation are complicated. Once your return has been prepared, there are additional rules to be followed. Issues arising in the course of an audit of your tax return, or in the payment and collection of any taxes can create great stress, and substantial risk. We can represent you with respect to such matters, and provide the advice and advocacy to get the best result available under the applicable law.
    </div>
    </template>
</ngb-panel>
<ngb-panel>
  <template ngbPanelTitle>
    <div class="panel-heading">
      <h3>Municipal Law</h3>
    </div>
    </template>
  <template ngbPanelContent>
              <div class="panel-body">
Municipal rules and regulations seemingly continue to influence, if not control our lives in a variety of ways. From the subdivision of real estate, zoning, to the vagaries of eminent domain proceedings, and the licensing of businesses and professions, knowledge of municipal law is a requirement of everyday living. Our firm has provided advice and guidance for municipalities, from township to city, and has used that experience to help other municipalities and area residents navigate the myriad of rules. We can help you with all your questions on municipal laws.
   </div>
    </template>
</ngb-panel>
<ngb-panel>
  <template ngbPanelTitle>
    <div class="panel-heading">
      <h3>Immigration</h3>
    </div>
    </template>
  <template ngbPanelContent>
              <div class="panel-body">
The processes, rights and duties of citizenship are complicated and ever changing. The benefits of residing in our great country and obtaining citizenship are best understood and made easier with the advice and representation by lawyers who know the process. We can help you with all your questions on immigration and naturalization.    
              </div>
</template>
</ngb-panel>
</ngb-accordion>
</div>