<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="laywer-name">Carl J. Greco - Owner</h2>
  </div>
  <div class="panel-body">
    <div class="lawyer-card">
      <img class="hidden-xs" src="assets/img/team/carl-greco.jpg">
      <div class="info">
        <div class="details">
          <ul>
            <li>
              <h3>Education and Notable Credentials:</h3></li>
            <li>Kings College (B.S. 1974)</li>
            <li>Delaware Law School, Widener University (J.D., cum laude, 1978)</li>
            <li>Phi Delta Phi. Moot Court Honor Society.</li>
            <li>Member, Delaware Journal of Corporate Law, 1977-1978.</li>
            <li>Author, "The Allowance of a Theft Loss Deduction To A Corporate Shareholder for the Wrongful Acts of Corporate Officials," Del. J. Corp. Law Vol. 3 No. 3, 1978
            </li>
            <li>Uniform Certified Public Accountant Exam (PA. 1982)</li>
          </ul>
          <ul>
            <li>
              <h3>Admitted to Practice</h3></li>
            <li>Pennsylvania</li>
            <li>U.S. Tax Court</li>
            <li>U.S. District Court, Middle Distrct of PA.</li>
            <li>U.S. District Court, Eastern Distrct of PA.</li>
            <li>U.S. Court of Appeals, Third Circuit</li>
          </ul>
        </div>
        <div class="details">
          <ul>
            <li>
              <h3>Memberships</h3></li>
            <li>Lackawanna Bar Association</li>
            <li>Pennsylvania Bar Association</li>
            <ul>
              <li>Financial Secretary, 1983-1988</li>
            </ul>
            <li>American Bar Association</li>
          </ul>
          <ul>
            <li>
              <h3>Areas of Practice</h3></li>
            <li>General Corporate and Business Law</li>
            <li>Civil Litigation</li>
            <li>Employment Law</li>
            <li>Taxation</li>
            <li>Real Estate</li>
            <li>Trust &amp; Estate Administraton</li>
            <li>Municpal Law</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr width="80%">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="laywer-name">Jennifer Menichini - Associate</h2>
  </div>
  <div class="panel-body">
    <div class="lawyer-card">
      <img class="hidden-xs" src="assets/img/team/jen.jpg">
      <div class="info">
        <div class="details">
          <ul>
            <li>
              <h3>Education & Notable Credentials:</h3></li>
            <li>University of Scranton (B.A. magna cum laude, 2002)</li>
            <ul>
              <li>Phi Alpha Theta</li>
              <li>Pi Gamma Mu</li>
              <li>Pi Sigma Alpha</li>
            </ul>
            <li>Duquesne University School of Law (J.D. 2005)</li>
            <ul>
              <li>Case Note Frontline Editor, Duquesne Law Review</li>
            </ul>
          </ul>
          <ul>
            <li>
              <h3>Admitted to Practice:</h3>
            </li>
            <li>Pennsylvania</li>
            <li>U.S. District Court, Middle Distrct of PA.</li>
            <li>U.S. Court of Appeals, Third Circuit</li>
            <li>U.S. Supreme Court</li>
          </ul>
        </div>
        <div class="details">
          <ul>
            <li>
              <h3>Memberships:</h3></li>
            <li>Lackawanna Bar Association</li>
            <ul>
              <li>President, Lackawanna County Bar Association, Young Lawyers Division 2015</li>
            </ul>
            <li>Luzerne County Bar Association</li>
            <li>Monroe County Bar Association</li>
            <li>Pennsylvania Bar Associaton</li>
            <ul>
              <li>Member, Bar Leadership Institute, Class of 2015-2016</li>
              <li>Delegate, PBA House of Delegates, 2015 to Present</li>
            </ul>
            <li>Federal Bar Association</li>
            <ul>
              <li>Secretary, Middle District of PA Chapter of the Federal Bar Association, 2014</li>
              <li>
                Vice President, 2015
              </li>
              <li>
                President-Elect, 2016 to Present
              </li>
            </ul>
            <li>American Bar Association</li>
          </ul>
          <ul>
            <li>
              <h3>Practice Areas:</h3>
            </li>
            <li>Employment Law</li>
            <li>Civil Litigation</li>
            <li>Workers' Compensation</li>
            <li>Corporate Law</li>
            <li>Business Law</li>
            <li>Municipal Law</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr width="90%">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="laywer-name">
        James D. Greco - Associate
    </h2>
  </div>
    <div class="panel-body">
      <div class="lawyer-card">
        <img class="hidden-xs" src="assets/img/team/james-greco.jpg">
        <div class="info">
          <div class="details">
            <ul>
              <li>
                <h3>Education and Notable Credentials</h3>
              </li>
              <li>Fordham University (B.S. 2003)</li>
              <li>Thomas M. Cooley School of Law, Western Michigan University (J.D. cum laude, 2010)</li>
              <li>Clerk to Hon. Irvin J. Snyder, Superior Court of New Jersey (Camden) 2010-2011</li>
            </ul>
            <ul>
              <li>
                <h3>Admitted to Practice:</h3>
              </li>
              <li>Pennsylvania</li>
              <li>New Jersey</li>
              <li>U.S. District Court, Middle Distrct of PA.</li>
              <li>U.S. District Court, Eastern Distrct of PA.</li>
              <li>U.S. District Court, District of New Jersey</li>
            </ul>
          </div>
          <div class="details">
            <ul>
              <li>
                <h3>Memberships:</h3></li>
              <li>Lackawanna Bar Association</li>
              <ul>
                <li>Member, Young Lawyers Board of Directors, 2014-Present</li>
              </ul>
              <li>Pennsylvania Bar Association</li>
              <li>American Bar Association</li>
            </ul>
            <ul>
              <li>
                <h3>Practice Areas:</h3></li>
              <li>Civil Litigation</li>
              <li>Premises and General Liability</li>
              <li>Products Liability</li>
              <li>Business &amp; Corporate Law</li>
              <li>Trust &amp; Estates</li>
              <li>Municipal Law</li>
            </ul>
          </div>
        </div>
        <!-- end info -->
      </div>
    </div>
  </div>